﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>taxnet</title>
    <link href=/static/css/app.e3a161024fc9a3c9d5929851618d5fec.css rel=stylesheet>
</head>
<body>
    <div id=app></div>
    <script type=text/javascript src=/static/js/manifest.07fcbb10dbfdb0699b7a.js></script>
    <script type=text/javascript src=/static/js/vendor.01110b4818c50bad02a4.js></script>
    <script type=text/javascript src=/static/js/app.577e21d85075506cb87a.js></script>
</body>
</html>